doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript").
            window.cac_clusters_list = !{clusters}
    body(ng-app="cacApp")
        header.container
            h1 Couchbase Admin Console
        .container
            block content
        footer.container
            p Couchbase Data Admin Console
        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/libs/angular/angular.min.js')
        script(src='/app/app.js')
        script(src='/app/home/cacHomeCtrl.js')