doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
          h1 Data Admin
        .container
          .main-content
            block content
        footer
              p Couchbase Data Admin Console
        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/libs/angular/angular.min.js')
        script(src='/javascripts/global.js')