form(role="form")
   .row
      .col-sm-12
         .col-sm-12
            .form-group
               label(for="cacQuery") SELECT doc FROM {{identity.currentUser.bucketName}} WHERE {{cacQuery ? cacQuery : '...'}}
               textarea#cacQuery.form-control(ng-model="cacQuery", placeholder="doc.field = value", ng-disabled="dataSubmit")
   .row
      .col-sm-6
         .col-sm-12
            .form-group
               label(for="cacPropertyName") Property Name
               input#cacPropertyName.form-control(type="text", ng-model="cacPropertyName", placeholder="Property Name", ng-disabled="dataSubmit")
         .col-sm-12
            .radio
               label
                  input(type="radio",name="cacActionType", ng-model="cacActionType", value="add", ng-disabled="dataSubmit")
                  |Add Property
         .col-sm-12
            .radio
               label
                  input(type="radio",name="cacActionType", ng-model="cacActionType", value="delete", ng-disabled="dataSubmit")
                  |Delete Property
         .col-sm-12
            .radio
               label
                  input(type="radio",name="cacActionType", ng-model="cacActionType", value="change-value", ng-disabled="dataSubmit")
                  |Change Property Value
         .col-sm-12
            .radio
               label
                  input(type="radio",name="cacActionType", ng-model="cacActionType", value="change-custom", ng-disabled="dataSubmit")
                  |Change Property Value - Custom
      .col-sm-6
         .col-sm-12(ng-hide="showPropertyCustom()")
            .form-group
               label(for="cacPropertyValue") Property Value
               input#cacPropertyValue.form-control(type="text", ng-model="cacPropertyValue", placeholder="Property Value", ng-disabled="dataSubmit")
         .col-sm-12(ng-show="showPropertyCustom()")
            .form-group
               label(for="cacPropertyCustom") Property Expression
               textarea#cacPropertyCustom.form-control(ng-model="cacPropertyCustom", placeholder="Property Custom", ng-disabled="dataSubmit")

   .row
      .col-sm-3.col-sm-push-5.btn-group
         label.btn(ng-class="{'btn-danger' : !cacDryRun, 'btn-info' : cacDryRun}", ng-disabled="dataSubmit")
            input#dry-run-chck(type="checkbox", ng-model="cacDryRun")
            |Dry Run
         button#cacSubmitBtn.btn(ng-class="{'btn-danger' : !cacDryRun, 'btn-info' : cacDryRun}", ng-click="submit()", ng-disabled="dataSubmit")
            |{{dataSubmit ? "Loading..." : "Submit"}}

#resultsWindow.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type="button", data-dismiss="modal")
               span(aria-hidden="true")
                  |&times;
               span.sr-only
                  |Close
            h4#myModalLabel.modal-title
               |Query Results

         .modal-body
            |{{queryResults | json}}
         .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal")
               |Close